extends layout

block additional-css
  link(rel="stylesheet", href="/css/detail-car.css")

block body
  #detail-car
    #main-carousel(index='0')
      .big-one
        img(src=carImages[0].url, alt=carImages[0].title)
        .main-photo-title
          p= carImages[0].title
        .dot-dots
          each img, index in carImages
            .dot(class= (index === 0) ? 'active' : '', title= img.title, url= img.url)
        .arrow.right
          .the-arrow
            i.fas.fa-angle-right
        .arrow.left
          .the-arrow
            i.fas.fa-angle-left
    #car-data
      h1 Toyota Calya 2015 Kondisi Gress
      span.date-added
        i.fas.fa-calendar
        | 2018-01-30
      .quick-detail
        h3 Detail Singkat
        .detail
          img(src="/img/icons/car-year.png", alt="icon-calendar")
          span Tahun
          span.data 2015
        .detail
          img(src="/img/icons/car-brand.png", alt="icon-brand")
          span Merek
          span.data Toyota
        .detail
          img(src="/img/icons/car-type.png", alt="icon-car-type")
          span Tipe
          span.data MPV
        .detail
          img(src="/img/icons/car-distance.png", alt="icon-distance")
          span Jarak
          span.data 13.800 km
        .detail
          img(src="/img/icons/car-transmission.png", alt="icon-transmission")
          span Transmisi
          span.data Automatic
        .detail
          img(src="/img/icons/car-price.png", alt="icon-price")
          span Harga
          span.data Rp. 120.000.000,-
  #price-car
  include footer
block additional-script
  script(src="/js/detail-car.js")