.footer
  .links
    a(href="/tentang-kami")
      p Tentang Kami
    a(href="/hubungi-kami")
      p Hubungi Kami
    a(href="/pusat-bantuan")
      p Bantuan
    a(href="/blog")
      p Blog
  .social-media-links
    a(href="https://www.instagram.com/grosirmobilbekasjogjakarta/", target='_blank')
      .icon
        i.fab.fa-instagram
    a(href="https://www.facebook.com/sidik.hidayatullah", target='_blank')
      .icon
        i.fab.fa-facebook
    a(href="https://twitter.com/sisidik", target='_blank')
      .icon
        i.fab.fa-twitter
  .tradermark-bottom
    p Copyright &copy; 2019 MoKas. All Right Reserved.