extends layout

block additional-css
  link(rel="stylesheet", href="/css/home.css")

block body
  .main-title
    h1 Jual Beli Mobil Bekas Di Jogja Dengan Mudah Dan Cepat
    h3 Cari mobil bekas dengan mudah dan murah di jogja dan sekitarnya
    #search-engine
      form#keyword.input
        i.fas.fa-search
        input(type= 'text', placeholder='Kata kunci untuk pencarian mobil')
      //- #location.input.select
      //-   .btn
      //-     i.fas.fa-caret-down
      //-     span Lokasi
      //-   .options
      //-     .opt(val=0)
      //-       p Semua Lokasi
      //-     .opt(val=1)
      //-       p Kota Yogyakarta
      //-     .opt(val=2)
      //-       p Kab. Bantul
      //-     .opt(val=3)
      //-       p Kab. Gunungkidul
      //-     .opt(val=4)
      //-       p Kab. Kulon Progo
      //-     .opt(val=5)
      //-       p Kab. Sleman
      //-     .opt(val=6)
      //-       p Luar Jogja
      #brand.input.autocomplete
        i.fas.fa-tag
        input(type="text", placeholder='Merek')
        .options
          .opt(val='0')
            p Semua Merek
          .opt(val='1')
            p Toyota
          .opt(val='2')
            p Honda
          .opt(val='3')
            p Daihatsu
          .opt(val='4')
            p Suzuki
      #type.input.select
        .btn
          i.fas.fa-car
          span Tipe Mobil
        .options
          .opt(val=0)
            p Semua Tipe
          .opt(val=1)
            p Sedan
          .opt(val=2)
            p SUV
          .opt(val=3)
            p Pick Up
          .opt(val=4)
            p Mini Bus
      #year.input
        i.fas.fa-calendar
        input(type="number", placeholder='Tahun')
      #distance.input.select
        .btn
          i.fas.fa-caret-down
          span Jarak Tempuh
        .options
          .opt(val=0)
            p Semua Jarak
          .opt(val=1)
            p < 50.000 km
          .opt(val=2)
            p 50.000 - 100.000 km
          .opt(val=3)
            p 100.000 - 150.000 km
          .opt(val=4)
            p 150.000 - 200.000 km
          .opt(val=5)
            p 200.000 - 250.000 km
          .opt(val=6)
            p > 250.000 km
      #transmition.input.select
        .btn
          i.fas.fa-caret-down
          span Transmisi
        .options
          .opt(val=0)
            p Semua Transmisi
          .opt(val=1)
            p AT
          .opt(val=2)
            p MT
      #price.input.range
        .btn
          i.fas.fa-money-bill
          span Harga
        .ranger
          input(type='number', placeholder='Dari')
          input(type='number', placeholder='Sampai')
      .last-line
        p pencarian lebih lanjut
        #do-search.btn
          p Cari Mobil
  .car-recommendation
    h2 Rekomendasi Mobil Kami
    p Deretan mobil pilihan yang dapat mempersingkat waktu pencarian anda
    .car-recommendation-list
      .arrow.left
        i.fas.fa-chevron-circle-left
      .main-list
        - var arrayOh = [1,2,3,4]
        each number in arrayOh
          .card
            img(src="/dummy/mobil-calya.jpg", alt="foto-mobil")
            p.name 2018 Toyota Calya Murah Berkualitas KM Kecil
            p.price 150Jt-an
            a(href='/detail/some-name-and-id-0', title='2018 Toyota Calya Murah Berkualitas KM Kecil')
          .card
            img(src="/dummy/mobil-sienta.jpg", alt="foto-mobil")
            p.name 2018 Toyota Sienta Murah Berkualitas KM Kecil
            p.price 200Jt-an
            a(href='/detail/some-name-and-id-0', title='2018 Toyota Sienta Murah Berkualitas KM Kecil')
      .arrow.right
        i.fas.fa-chevron-circle-right
  .why-us
    h2 Kenapa Membeli Mobil di MoKas.com?
    ul
      li
        i.fas.fa-play-circle
        | Alasan 1
      li
        i.fas.fa-play-circle
        | Alasan 2
      li
        i.fas.fa-play-circle
        | Alasan 3
      li
        i.fas.fa-play-circle
        | Alasan 4
  .brand-list
    h2 Cari Mobil Berdasarkan Merek Mobil
    p Cari pilihan mobil dari beragam merek yang tersedia
    .brand-list-container
      each brand in brandList
        .brand
          img(src=brand.logo, alt="Logo " + brand.name)
          a(href="/brand/" + brand.name.toLowerCase() + "-" + brand.id, title=brand.name)
      .brand
        .dot-dot-dot
          i.fas.fa-circle
          i.fas.fa-circle
          i.fas.fa-circle
        a(href="/brand", title='Daftar Semua Merek')
  .car-type-list
    h2 Cari Mobil Berdasarkan Tipe Mobil
    p Cari pilihan mobil berdasarkan tipe mobil yang anda cari
    .type-list
      - var types = ['Sedan', 'Jeep', 'SUV', 'Minibus', 'Hot Hatchback']
      each _type, index in types
        .type
          i.fas.fa-car
          p= _type
          a(href="/type/" + _type + '-' + index, title= _type)
      .type
        .dot-dot-dot
          i.fas.fa-circle
          i.fas.fa-circle
          i.fas.fa-circle
        a(href="/type", title='Semua Tipe Mobil')
  include footer
block additional-script
  script(src="/js/home.js")