extends layout

block additional-css
  link(rel="stylesheet", href="/css/home.css")

block body
  .main-title
    h1 Jual Beli Mobil Bekas Di Jogja Dengan Mudah Dan Cepat
    h3 Cari mobil bekas dengan mudah dan murah di jogja dan sekitarnya
    #search-engine
      .input
        i.fas.fa-search
        input(type= 'text', placeholder='Kata kunci untuk pencarian mobil')
      #lokasi.input.select
        .btn
          i.fas.fa-caret-down
          span Lokasi
        .options
          .opt(val=0)
            p Semua Lokasi
          .opt(val=1)
            p Kota Yogyakarta
          .opt(val=2)
            p Kab. Bantul
          .opt(val=3)
            p Kab. Gunungkidul
          .opt(val=4)
            p Kab. Kulon Progo
          .opt(val=5)
            p Kab. Sleman
          .opt(val=6)
            p Luar Jogja
      .last-line
        p pencarian lebih lanjut
        .btn
          p Cari Mobil

block additional-script
  script(src="/js/home.js")