<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title || 'Jual Beli Mobil Bekas Di Jogja Dengan Mudah Dan Murah'
    link(rel="shortcut icon", href="/favicon.ico")
    //- link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i", rel="stylesheet")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/global.css")
    block additional-css
  body
    #header
      a.header-logo(href="/")
        img(src="http://via.placeholder.com/105x30/19a3ec/333?text=Logo Beli Mobil", alt="logo")
      a(href="/daftarkan-mobil")
        i.fas.fa-ad
        p Pasang Iklan
      .header-input
        if url !== '/'
          .fas.fa-search
          input#header-search(type="text", name="search-car", placeholder='Cari mobil bekas/baru berdasarkan nama, jenis, atau tahun')
          .btn.info-btn
            span Cari Mobil
      a(href="/pusat-bantuan")
        i.fas.fa-question-circle
        p Bantuan
      a(href="hubungi-kami")
        i.fab.fa-whatsapp
        p Hubungi Kami
      .header-side-icon
        i.fas.fa-search
        i.fas.fa-bars
    #side-menu
      a.side-menu-list(href='/cari-mobil')
        i.fas.fa-angle-right
        span Cari Mobil
      a.side-menu-list(href='/daftarkan-mobil')
        i.fas.fa-angle-right
        span Daftarkan Mobil
      a.side-menu-list(href='/pusat-bantuan')
        i.fas.fa-angle-right
        span Bantuan
      a.side-menu-list(href='/hubungi-kami')
          i.fas.fa-angle-right
          span Hubungi Kami
    block body
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/header.js")

    block additional-script
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", crossorigin="anonymous")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k", crossorigin="anonymous")