#filter {
  position: fixed;
  left: 0;
  top: 60px;
  min-width: 400px;
  max-width: 400px;
  min-height: calc(100% - 80px);
  padding: 20px 35px 0 15px;
  margin: 0;
  border-right: solid 1px #ccc;
  background-color: #e2f0f9;
}

.input {
  margin-bottom: 15px;
  position: relative;
}

.input > p {
  font-size: 16px;
  margin-bottom: 5px;
}

.input .btn,
.input.range .ranger {
  border: solid 2px #aeaeae;
  border-radius: 4px;
  position: relative;
  padding: 0 15px;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.input .btn > i {
  margin-right: 10px;
  font-size: 16px;
}

.input .btn > input,
.input.range .ranger input {
  flex-grow: 1;
  border: none;
  outline: none;
}

.input.select .options {
  position: absolute;
  border: solid 2px #ccc;
  background-color: white;
  border-radius: 4px;
  width: calc(100% - 4px);
  top: calc(100% - 2px);
  z-index: 2;
  display: none;
}

.input.select > .fs-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.input.select .options .opt {
  height: 22px;
  padding: 8px 0 0 10px;
}

.input.select .options .opt:hover {
  background-color: #ccc;
  cursor: pointer;
}

.input.select .options .opt:not(:last-child) {
  border-bottom: solid 2px #ccc;
}

.input.range p.title i {
  margin-right: 5px;
}

.input.range .ranger > p {
  margin: 0 5px;
}

form#filter .buttons {
  display: flex;
}

form#filter .buttons .btn,
form#filter .buttons input[type="submit"] {
  height: 30px;
  padding: 0 15px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

form#filter .buttons .btn.info {
  background-color: #aeaeae;
}

form#filter .buttons input[type="submit"] {
  background-color: #2525bf;
  color: white;
}

form#filter .buttons > *:hover {
  cursor: pointer;
  filter: brightness(150%)
}

#cars {
  padding: 15px 0px 15px 466px;
}

#sorting {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

#sorting .sort {
  position: relative;
}

#sorting .sort .btn {
  display: flex;
  padding: 0 15px;
  background: #e3e3e3;
  height: 30px;
  align-items: center;
  border-radius: 4px;
}

#sorting .sort .btn i {
  margin-right: 5px;
}

#sorting .sort .btn:hover {
  filter: brightness(115%);
  cursor: pointer;
}

#sorting .sort .options {
  position: absolute;
  z-index: 2;
  background: #fff;
  border: solid 1px #ccc;
  right: 0;
  display: none;
}

#sorting .sort:hover .options {
  display: block;
}

#sorting .sort .options .opt {
  padding: 10px 15px;
  border-bottom: solid 1px #ccc;
}

#sorting .sort .options .opt:hover {
  cursor: pointer;
  background: #e3e3e3;
}

#sorting .sort .options .opt:last-child {
  border: none;
}

#cars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cars-container .card {
  border: solid 1px #ccc;
  border-radius: 4px;
  width: 190px;
  height: 250px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  text-align: left;
  flex-grow: 1;
}

#cars-container .card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

#cars-container .card p {
  margin-top: 10px;
  max-height: 32px;
  overflow: hidden;
}

#cars-container .card p.price {
  font-weight: 600;
}

#cars-container .card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#paging {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#paging .page-list {
  display: flex;
  flex-wrap: wrap;
}

#paging .page-list .page {
  border: solid 1px #19a3ec;
  color: #19a3ec;
  padding: 5px 10px;
  margin: 0 5px;
  background: white;
}

#paging .page-list .page:hover,
#paging .page-list .page.active {
  background: #19a3ec;
  color: white;
}

#paging .page-list .page:hover {
  cursor: pointer;
}

#filter #close {
  font-size: 20px;
  text-align: right;
  position: absolute;
  display: none;
  right: 30px;
  padding: 15px;
}

#filter-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  border-top: solid 2px #19a3ec;
  background: white;
  color: #19a3ec;
  font-size: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all .15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#filter-mobile.hide {
  bottom: -60px;
  transition: all .15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#filter-mobile:hover {
  cursor: pointer;
  background: #c5ebff;
}

#filter-mobile > p > i {
  margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
  #filter {
    min-width: 200px;
    max-width: 200px;
  }

  #cars {
    padding-left: 266px;
  }

  .input.range .ranger {
    flex-direction: column;
    min-height: fit-content;
  }

  .input.range .ranger p {
    display: none;
  }

  .input.range .ranger input {
    padding-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 496px) {
  #cars {
    padding-left: 15px;
  }

  #filter {
    top: 100%;
    min-width: calc(100vw - 30px);
    max-width: calc(100vw - 30px);
    z-index: 2;
    max-height: calc(100% - 80px);
    overflow-y: auto;
    transition: all .15s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  #filter.show {
    top: 60px;
    transition: all .15s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  #filter .buttons {
    margin-bottom: 30px;
  }

  #filter #close {
    display: block;
    cursor: pointer;
  }

  #mobile-filter-container {
    display: flex;
  }

  #filter-mobile {
    display: flex;
  }
}