h1, h3 {
  padding: 0 15px;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 0 10px;
  border-radius: 5px;
  height: 2em;
  display: flex;
  align-items: center;
}

.btn > i {
  font-size: 10px;
  margin-right: 5px;
}

.btn.info {
  background: turquoise;
}

.btn.danger {
  background-color: #fdc502;
}

.btn.warning {
  background-color: red;
  color: white;
}

.list {
  padding: 0 15px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: solid 2px #7bc6fb;
  margin: 15px auto 0;
  max-width: 1240px;
}

.list > p {
  flex-grow: 1;
  font-size: 20px;
}

.list .list-nya {
  width: 100%;
  margin: 15px 0;
}

.list .list-nya .li {
  display: flex;
  border-bottom: solid 1px #6fe1d0;
  margin-top: 15px;
  align-items: center;
  position: relative;
  height: 50px;
  padding: 0 15px;
}

.list-nya .li p:nth-child(1) {
  width: 30px;
}

.list-nya .li p:nth-child(2) {
  flex-grow: 1;
}

.list-nya .li > img {
  height: calc(100% - 15px);
  object-fit: contain;
  flex-grow: 1;
}

.list-nya .li .action {
  display: flex;
}

.list-nya .li .action .btn.danger {
  margin-right: 15px;
}
