body {
  padding-top: 75px;
}

#detail-car {
  position: relative;
  padding-left: 15px;
  width: calc(100% - 465px);
  min-height: 200px;
  margin-bottom: 60px;
}

#main-carousel {
  position: relative;
  width: 100%;
  min-height: 60px;
}

#main-carousel .big-one {
  height: 500px;
  width: calc(100% - 2px);
  position: relative;
  border: solid 1px #ccc;
}

#main-carousel .big-one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-carousel .big-one .main-photo-title {
  position: absolute;
  background: #333;
  height: 35px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  padding: 13px 15px 0;
  bottom: 75px;
  left: 0;
}

#main-carousel .big-one .dot-dots {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-carousel .big-one .dot-dots .dot {
  height: 15px;
  width: 15px;
  border: solid 2px #ccc;
  background: white;
  border-radius: 50%;
  margin: 0 5px;
  transition: all .3s ease-out;
}

#main-carousel .big-one .dot-dots .dot.active,
#main-carousel .big-one .dot-dots .dot:hover {
  background: #0394ff;
  cursor: pointer;
  transition: all .3s ease-out;
}

#main-carousel .big-one .arrow {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  font-size: 20px;
  color: white;
}

#main-carousel .big-one .arrow.left {
  left: 0;
}

#main-carousel .big-one .arrow.right {
  right: 0;
}

#main-carousel .big-one .arrow .the-arrow {
  height: 60px;
  width: 40px;
  background: #7bc7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  cursor: pointer;
}

span.date-added {
  color: #aeaeae;
}

span.date-added i {
  margin-right: 10px;
}

#car-data {
  display: flex;
  margin: 30px 0 15px;
}

#car-data * h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 15px 0 5px;
}

#car-data .description {
  width: calc(100% - 300px);
  padding-right: 15px;
}

#car-data .description p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 15px;
  text-indent: 30px;
}

#car-data .quick-detail .detail {
  display: flex;
  border-bottom: dashed 1px #ccc;
  height: 40px;
  align-items: center;
  max-width: 300px;
  min-width: fit-content;
  font-size: 16px;
  padding-left: 5px;
}

#car-data .quick-detail .detail img {
  margin-right: 15px;
}

#car-data .quick-detail .detail span:not(.data) {
  font-weight: 600;
  width: 100px;
}

#price-car {
  background: blue;
  position: fixed;
  top: 75px;
  right: 15px;
  width: 420px;
  min-height: 300px;
}

.footer {
  border-top: solid 1px #ccc;
  background-color: #f3f3f3;
}