body {
  padding-top: 75px;
}

#detail-car {
  position: relative;
  max-width: 1350px;
  min-height: 200px;
  margin: auto auto 60px;
  padding: 0 15px;
}

#main-carousel {
  position: relative;
  width: calc(100% - 436px);
  min-height: 60px;
}

#main-carousel .big-one {
  height: 500px;
  width: calc(100% - 2px);
  position: relative;
  border: solid 1px #ccc;
}

#main-carousel .big-one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-carousel .big-one .main-photo-title {
  position: absolute;
  background: #333;
  height: 35px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  padding: 13px 15px 0;
  bottom: 75px;
  left: 0;
}

#main-carousel .big-one .dot-dots {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-carousel .big-one .dot-dots .dot {
  height: 15px;
  width: 15px;
  border: solid 2px #ccc;
  background: white;
  border-radius: 50%;
  margin: 0 5px;
  transition: all .3s ease-out;
}

#main-carousel .big-one .dot-dots .dot.active,
#main-carousel .big-one .dot-dots .dot:hover {
  background: #0394ff;
  cursor: pointer;
  transition: all .3s ease-out;
}

#main-carousel .big-one .arrow {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  font-size: 20px;
  color: white;
}

#main-carousel .big-one .arrow.left {
  left: 0;
}

#main-carousel .big-one .arrow.right {
  right: 0;
}

#main-carousel .big-one .arrow .the-arrow {
  height: 60px;
  width: 40px;
  background: #7bc7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  cursor: pointer;
}

span.date-added {
  color: #aeaeae;
}

span.date-added i {
  margin-right: 10px;
  color: #0394ff;
}

#car-data > * {
  margin: 30px 0 15px;
  width: 100%;
}

#car-data * h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 15px 0 5px;
}

#car-data .description p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 15px;
  text-indent: 30px;
}

#car-data .quick-detail .detail {
  display: flex;
  border-bottom: dashed 1px #ccc;
  height: 40px;
  align-items: center;
  max-width: 300px;
  min-width: fit-content;
  font-size: 16px;
  padding: 5px 0 5px 5px;
}

#car-data .quick-detail .detail img {
  margin-right: 15px;
}

#car-data .quick-detail .detail span:not(.data) {
  font-weight: 600;
  width: 100px;
}

#car-data .benefits .benefits-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

#car-data .benefits-container .benefit {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.benefits-container .benefit i {
  font-size: 10px;
  color: #0394ff;
  margin-right: 5px;
}

#price-car {
  border: solid 1px #ccc;
  position: absolute;
  top: 0px;
  right: 15px;
  width: 420px;
  min-height: 300px;
  background: white;
}

#price-car .custom-loading {
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333b5;
  z-index: 1;
}

#price-car .the-price,
#price-car .cara-pesan {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
}

#price-car .cara-pesan {
  display: none;
}

#price-car .the-price p,
#price-car .cara-pesan p {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

#price-car .the-price img {
  height: 25px;
  margin-right: 10px;
}

#price-car .simulation-title {
  font-weight: 600;
  font-size: 18px;
  margin: 15px;
}

#price-car .credit-offerer {
  font-size: 16px;
  margin: 15px;
}

#credit-sim > .group {
  padding: 15px;
  background: #0394ff;
}

#credit-sim > .group .title {
  font-size: 16px;
  min-width: 150px;
  color: white;
}

#credit-sim > .group .title i {
  margin-left: 5px;
}

#credit-sim > .group > select,
#credit-sim > .group > input {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  padding: 0 15px;
  border: none;
  background-color: white;
}

#credit-sim > .group > input {
  width: calc(100% - 30px);
}

#credit-sim > .group #sim-monthly {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}

.footer {
  border-top: solid 1px #ccc;
  background-color: #f3f3f3;
}

.penyedia-angsuran {
  padding: 0 15px;
  position: relative;
}

.penyedia-angsuran > p {
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.penyedia-angsuran .company {
  display: inline;
}

.penyedia-angsuran .company img {
  width: 30%;
  height: 60px;
  object-fit: contain;
}

#price-car .call-us {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
}

#price-car .call-us > p {
  margin: 0 15px;
}

#price-car .call-us .whatsapp-btn {
  background-color: #22b559;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  margin: 15px;
  width: calc(100% - 30px);
}

#price-car .call-us .whatsapp-btn i {
  margin-right: 10px;
}

#price-car .the-price i.fas.fa-times {
  font-size: 20px;
  color: blue;
  position: absolute;
  top: 75px;
  right: 10px;
  background-color: white;
  padding: 5px 8px;
  display: none;
}

#price-car.showed .the-price i.fas.fa-times {
  display: inline;
}

@media only screen and (max-width: 900px) {
  #detail-car {
    padding-right: 15px;
    width: calc(100% - 30px);
  }

  #main-carousel {
    width: 100%
  }

  #price-car .cara-pesan {
    display: flex;
    cursor: pointer;
  }

  #price-car {
    position: fixed;
    top: calc(100% - 60px);
    right: 0;
    width: 100%;
    border: none;
    border-top: solid 1px #ccc;
    max-height: 100vh;
    overflow: auto;
  }

  #price-car.showed {
    top: 0;
    transition: top .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .footer {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 560px) {
  #main-carousel {
    position: relative;
    left: -15px;
    top: -15px;
    width: calc(100% + 30px);
  }

  #main-carousel .big-one {
    width: 100%;
    height: 340px;
    border-right: none;
    border-left: none;
  }

  #main-carousel .big-one .dot-dots {
    position: relative;
    height: 20px;
  }

  #main-carousel .big-one .dot-dots .dot {
    height: 5px;
    width: 5px;
  }

  #main-carousel .big-one .main-photo-title {
    bottom: 0;
    height: 30px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 350px) {
  html {
    overflow-x: hidden;
  }

  #main-carousel .big-one {
    height: 200px;
  }

  #main-carousel .big-one .main-photo-title {
    height: 23px;
    width: calc(100% - 30px);
    padding: 10px 15px 0;
    font-size: 12px;
    background: #3339;
  }

  #main-carousel .big-one .arrow .the-arrow {
    height: 40px;
    width: 30px;
    font-size: 16px;
  }
}

/* Loading Css */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #0394ff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
