html {
  height: 100%;
  color: #333;
}

body {
  min-height: calc(100% - 60px);
  margin: 0px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 60px 0px 0px;
  background-color: white;
  -webkit-user-select: none;
}

body.side-menu-open {
  overflow: hidden !important;
}

a, a:focus {
  text-decoration: none;
  color: #333;
}

p {
  margin: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: calc(100% - 30px);
  background: #7bc7ff;
  border-bottom: solid 1px #fff;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

#header img {
  margin-right: 15px;
}
#header .header-input {
  margin: 0 15px;
  padding-left: 10px;
  background: white;
  border-radius: 4px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#header .header-input .fa {
  color: #aeaeae;
  font-size: 18px;
  margin-right: 5px;
}

#header .header-input input {
  border: none;
  flex-grow: 1;
  height: 20px;
  padding-left: 5px;
}

#header .header-input input:focus {
  outline: none;
}

#header .header-input .btn.info-btn {
  background: #0394ff;
  color: white;
  height: 32px;
  right: 0;
  top: 0;
  padding: 0 10px;
  align-items: center;
  display: flex;
}

#header .header-input .btn.info-btn:hover {
  cursor: pointer;
  background: #85cbff;
}

#header > .btn {
  /* border-radius: 5px; */
  height: 28px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
#header .btn#log-in {
  margin-right: 15px;
  border: solid 1px white;
  color: white;
}

#header > a {
  height: 100%;
  display: flex;
  align-items: center;
}

#header > a:not(.header-logo) {
  padding: 0 15px;
}

#header > a:not(.header-logo):hover {
  /* padding-top: 4px; */
  border-bottom: solid 6px white;
}

#header > a:not(.header-logo):hover p,
#header > a:not(.header-logo):hover i {
  margin-top: 6px;
}

#header > a > i {
  margin-right: 5px;
}

#header .header-side-icon {
  display: none;
  font-size: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
}

#side-menu {
  position: fixed;
  top: 60px;
  right: 100vw;
  width: 100vw;
  height: 100%;
  background: white;
  border-right: solid 1px #ccc;
  display: flex;
  flex-direction: column;
  z-index: 99;
  transition: all 0.15s ease-out;
}

#side-menu.open {
  right: 0vw;
  transition: all 0.15s ease-out;
}


#side-menu > * {
  padding: 15px;
  font-size: 17px
}

#side-menu .side-menu-list:hover {
  background: #85cbff;
}

#side-menu .side-menu-list i {
  margin-right: 10px;
}

@media only screen and (max-width: 815px) {
  #header {
    justify-content: space-between;
    padding-right: 0;
    width: calc(100% - 15px);
  }

  #header > a:not(.header-logo) {
    display: none;
  }

  #header .header-side-icon {
    display: flex;
  }

  #header .header-side-icon .fas.fa-search {
    display: none;
  }

}

@media only screen and (max-width: 496px) {
  #header .header-input {
    display: none;
  }

  #header .header-side-icon .fas.fa-bars {
    display: none;
  }

  #header .header-side-icon .fas.fa-search {
    display: inline-block;
  }
}