.main-title {
  position: relative;
  width: calc(100% - 30px);
  min-height: 265px;
  padding: 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background: #54c8f2;
  background: -moz-linear-gradient(top, #54c8f2 0%, #54c8f2 45%, #008af4 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #54c8f2 0%,#54c8f2 45%,#008af4 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #54c8f2 0%,#54c8f2 45%,#008af4 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54c8f2', endColorstr='#008af4',GradientType=0 ); /* IE6-9 */
}

.main-title h1,
.main-title h3 {
  text-align: center;
}

.main-title h1 {
  margin-top: 60px;
}

#search-engine {
  width: 960px;
  max-width: calc(100% - 30px);
  min-height: 30px;
  margin: auto;
  position: relative;
  top: 60px;
  background: #2525bf;
  padding: 15px 0 15px 15px;
  display: flex;
  flex-wrap: wrap;
}

#search-engine > * {
  flex-grow: 1;
}

#search-engine > .input {
  color: #aeaeae;
  background: #fff;
  margin: 0 15px 15px 0;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  min-width: 280px;
  min-height: 29px;
}

#search-engine > .input > i,
#search-engine > .input > .btn > i {
  margin-right: 10px;
}

#search-engine > .input > input {
  flex-grow: 1;
  border: none;
  font-size: 16px;
}

#search-engine > .input > input:focus {
  outline: none;
}

#search-engine > .input.select {
  position: relative;
  padding: 0;
  min-width: 173px;
}

#search-engine > .input.select .btn {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  padding: 15px;
}

#search-engine > .input.select .btn:hover {
  cursor: pointer;
  background: #f5f4f3;
}

#search-engine > .input.select > .options,
#search-engine > .input.autocomplete > .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 2px);
  background: white;
  border: solid 1px #cccc;
  display: none;
}

#search-engine > .input.select > .options.show,
#search-engine > .input.autocomplete > .options.show {
  display: block;
  z-index: 2;
}

#search-engine > .input .options .opt {
  padding: 15px;
  border-bottom: solid 1px #cccc;
}

#search-engine > .input .options .opt:hover {
  cursor: pointer;
  background: #f5f4f3;
}

#search-engine > .input.select .btn span,
#search-engine > .input.select .options .opt p,
#search-engine > .input.autocomplete .btn span,
#search-engine > .input.automcomplete .options .opt p {
  color: #333;
}

.fs-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#search-engine .input.range {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
}

#search-engine .input.range .btn {
  margin-right: 15px;
}

#search-engine .input.range .ranger {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#search-engine .input.range .ranger input {
  outline: none;
  border: none;
  margin-right: 15px;
  flex-grow: 1;
  border-bottom: solid 1px #ccc;
  padding-bottom: 5px;
  min-width: 250px;
}

#search-engine .input.autocomplete {
  position: relative;
}

#search-engine .last-line {
  width: calc(100% - 15px);
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  flex-wrap: wrap;
}

#search-engine .last-line > p {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

#search-engine .last-line > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#search-engine .last-line > .btn {
  background: #0394ff;
  height: 30px;
  font-size: 16px;
  padding: 10px 15px 0px
}

#search-engine .last-line > .btn:hover {
  background: #85cbff;
  cursor: pointer;
}

#search-engine .input:not(#keyword):not(#location) {
  display: none;
}

#search-engine.show-other-filters .input:not(#keyword):not(#location) {
  display: flex;
}

.car-recommendation {
  margin: auto;
  margin-top: 80px;
  max-width: 990px;
  padding: 0 15px;
  text-align: center;
}

.car-recommendation .car-recommendation-list {
  display: flex;
  margin-top: 15px;
  position: relative;
}

.car-recommendation .car-recommendation-list .arrow {
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.car-recommendation .car-recommendation-list .arrow:hover {
  color: #aeaeae;
  cursor: pointer;
}

.car-recommendation .car-recommendation-list .main-list {
  display: flex;
  margin: 0 10px;
  max-width: calc(100% - 100px);
  overflow: auto;
}

.car-recommendation .car-recommendation-list .main-list::-webkit-scrollbar {
  width: 0;
}

.car-recommendation .car-recommendation-list .main-list .card {
  border: solid 1px #ccc;
  border-radius: 4px;
  width: 190px;
  height: 250px;
  padding: 10px;
  margin-right: 15px;
  position: relative;
  text-align: left;
}

.main-list .card img {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.main-list .card p {
  margin-top: 10px;
  max-height: 32px;
  overflow: hidden;
}

.main-list .card p.price {
  font-weight: 600;
}

.main-list .card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 589px) {
  #search-engine .input.range .ranger input {
    margin-top: 10px;
  }
}

.why-us {
  background-color: #46acf7;
  padding: 30px 0 30px;
  margin-top: 15px;
}

.why-us h2,
.brand-list h2,
.brand-list p {
  max-width: 1240px;
  padding: 0 15px;
  text-align: center;
  margin: auto;
}

.why-us ul {
  max-width: 960px;
  padding: 0 15px;
  margin: 15px auto;
  list-style: none;
}

.why-us ul li {
  font-size: 16px;
  margin: 0 0 15px;
}

.why-us ul li i {
  margin-right: 10px;
}

.brand-list {
  padding-top: 30px;
}

.brand-list p {
  margin: 15px auto;
}

.brand-list .brand-list-container {
  max-width: 1090px;
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: center;
}

.brand-list .brand-list-container .brand {
  border: solid 1px #ccc;
  width: 235px;
  height: 110px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 15px 15px 0;
  position: relative;
}

.brand-list-container .brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brand-list-container .brand a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.brand-list-container .brand .dot-dot-dot {
  color: #aeaeae;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.brand .dot-dot-dot i {
  margin-right: 5px;
}
